server:
	server-count: 1
{% for ip in ansible_all_ipv4_addresses %}
	ip-address: {{ ip }}
{% endfor %}
{% for ip in ansible_all_ipv6_addresses %}
{% if ip is not match("fe80:") %}
	ip-address: {{ ip }}
{% endif %}
{% endfor %}
	do-ip4: yes
	do-ip6: yes
	zonesdir: {{ nsd_dir }}
	hide-version: yes

remote-control:
	control-enable: yes

include: "{{ nsd_dir }}/keys.conf"
include: "{{ nsd_dir }}/zones.conf"
