<?php
putenv('TTRSS_PHP_EXECUTABLE=/usr/local/bin/php');
putenv("PATH=/usr/local/bin/:" . getenv("PATH"));

putenv('TTRSS_DB_TYPE=mysql');
putenv('TTRSS_DB_HOST=localhost');
putenv('TTRSS_DB_USER=ttrss');
putenv('TTRSS_DB_NAME=ttrss');
putenv('TTRSS_DB_PASS={{ ttrss_db_password }}');
putenv('TTRSS_DB_PORT=3306');

putenv('TTRSS_SELF_URL_PATH=https://reader.talideon.com');
putenv('TTRSS_SINGLE_USER_MODE=false');

putenv('TTRSS_LOCK_DIRECTORY=/var/run/tt-rss');
putenv('TTRSS_CACHE_DIR=/usr/local/www/tt-rss/cache');

// vim:ft=php
