[program:auth]
command=/usr/local/bin/python3 %(program_name)s.py --realm talideon.com
directory={{ tools_root }}
user=root
redirect_stderr=true
stdout_logfile={{ webserver_logs }}/%(program_name)s.log
