---
cmd: /usr/local/bin/python3 {{ tools_root }}/auth.py --realm talideon.com
env:
  PYTHONPATH: {{ tools_root }}
log:
  file: {{ webserver_logs }}/auth.log
  age: 86400
  num: 7
  size: 1
user: root
group: root
wait: 1

# vim:set ft=yaml:
